/* VARIABLES */
:root{
    --background-color-whiter: white;
    --background-color: #EEEEEE;
    --background-color-darker: #E3E3E3;
    --border-color: #CECECE;

    --text-main: #1a1a1a;
    --text-lighter: #4f4f4f;

    --bounce: cubic-bezier(.47,1.64,.41,.8);
}

/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Inter", sans-serif;
    color: var(--text-main);
}

/* BUTTON */
button{
    outline: none;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    transition-duration: 0.2s;
}
button:hover{
    transform: scale(1.02);
}
button:active{
    transform: scale(0.98);
}